<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="field"><%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field"><%= f.label :"Height (in cm)" %><br />
    <%= f.text_field :height_cm %>
  </div>

  <div class="field"><%= f.label :"Weight (in kg)" %><br /> 
  <%= f.text_field :weight_kg %>
  </div>

  <div class="field"><%= f.label :"Activity Level" %><br />
    <%= f.text_field :activity_level%>
  </div>

  <div class="field"><%= f.label :"Body Fat Percentage" %><br />
    <%= f.text_field :body_fat_percent%>
  </div>

  <div class="field"><%= f.label :"Weight Goal (kg)" %><br />
    <%= f.text_field :weight_kg_goal %>
  </div>
  
  <div class="field"><%= f.label :"Body Fat Percent Goal" %><br />
    <%= f.text_field :body_fat_percent_goal %>
  </div>
  
<p>Address</p>

<div class="field"><%= f.label :"Street Line 1" %><br />
  <%= f.text_field :address_street1%>
</div>

<div class="field"><%= f.label :"Street Line 2" %><br/>
  <%= f.text_field :address_street2%>
</div>

<div class="field"><%= f.label:"City" %><br />
  <%= f.text_field :address_city%>
</div>

<div class="field"><%= f.label:"State" %><br />
  <%= f.text_field :address_state%>
</div>

<div class="field"><%= f.label:"Zip Code" %><br /> 
  <%= f.text_field :zipcode%>
</div>

<div class="field"><%= f.label:"Country" %><br/>
  <%= f.text_field :address_country%>
</div>


<div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
