<div>

  <h2><%= @user.name %></h2>
<table>
 <tr>
   <td>email</td>
   <td>password</td>
   <td>height (cm)</td>
   <td>weight (kg)</td>
   <td>body fat %</td>
   <td>activity level</td>   
   <td>weight goal (kg)</td>
   <td>body fat % goal</td>
   <td>Street Addy1</td>
   <td>Street Addy2</td>
   <td>City</td>
   <td>State</td>
   <td>Zip Code</td>
   <td>Country</td>
   <td>Edit Link</td>
   <td>Destroy Link</td>
   
 </tr>

 <tr>
   <td><%= @user.email %></td>
   <td><%= @user.password %></td>
   <td><%= @user.height_cm %></td>
   <td><%= @user.weight_kg %></td>
   <td><%= @user.body_fat_percent %></td>
   <td><%= @user.activity_level %></td>
   <td><%= @user.weight_kg_goal %></td>
   <td><%= @user.body_fat_percent_goal %></td>
   <td><%= @user.address_street1 %></td>
   <td><%= @user.address_street2 %></td>
   <td><%= @user.address_city %></td>
   <td><%= @user.address_state %></td>
   <td><%= @user.zipcode %></td>
   <td><%= @user.address_country %></td>
   <td><%= link_to "edit", edit_user_path(@user.id) %></td>
   <td><%= link_to "destroy", @user, confirm: "you sure you want to delete this user?", method: :delete %></td>
 </tr>
</table>
</div>
