<div class="page-header">
  <h1>View The Food Items</h1>
</div>

<table  class="table table-striped table-bordered">

  <thead  style="font-weight:bold">
    <tr>
      <td>
	<a href="?order_by=name&order=<% if @order_str == 'ASC' %>desc<% else %>asc<% end %>">Name</a> (click to order)
      </td> 
      <td>
	<a href="?order_by=calories&order=<% if @order_str == 'ASC' %>desc<% else %>asc<% end %>">Calories</a> (click to order)
      </td>
      <td>Protein (g)</td>
      <td>Carbs (g)</td>
      <td>Fat (g)</td>
      <td>Description</td>
      <td>User</td>
      <td>Show link</td>
      <td>Edit link</td>
      <td>Destroy link</td>
    </tr>
  </thead>

 <% @food_items.each do |food_item| %>
 <tr>
   <td><%= food_item.name %></td>
   <td><%= food_item.calories %></td>
   <td><%= food_item.protein %></td>
   <td><%= food_item.carbs %></td>
   <td><%= food_item.fat %></td>
   <td><%= food_item.description %></td>
   <td><%= link_to food_item.user.name, user_path(food_item.user.id) %></td>
   <td><%= link_to "Show", food_item_path(food_item.id) %></td>
   <td><%= link_to "Edit", edit_food_item_path(food_item.id) %></td>
   <td><%= link_to "Destroy", food_item, confirm: "you sure you want to delete this food item?", method: :delete %></td>
 </tr>

 <% end %>

</table>

<p id="add-food-item-block" style="display:block;"><button id="add-food-item">+ Add Food Item</button></p>
<div id="food-item-form" style="display:none;">
  
<%= form_for(@food_item) do |f| %>

<div class="field">
  <p>name</p> 
  <%= f.text_field :name%>
</div>

<div class="field">
  <p>calories</p> 
  <%= f.text_field :calories%>
</div>

<div class="field">
  <p>protein (g)</p> 
  <%= f.text_field :protein%>
</div>

<div class="field">
  <p>carbs (g)</p> 
  <%= f.text_field :carbs%>
</div>

<div class="field">
  <p>fat (g)</p> 
  <%= f.text_field :fat%>
</div>

<div class="field">
  <p>description</p> 
  <%= f.text_field :description%>
</div>

<div class="field">
  <%= f.hidden_field:user_id, :value=>current_user.id %>
</div>

<div class="actions">
    <%= f.submit %>
</div>

<% end %>

</div>
