<div class="page-header">
  <h2>Create a new food item</h2>
</div>

<div class="error-msg">
  <% if @food_item.errors.any? %>
  <ul>
    <% @food_item.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
    <% end %>
  </ul>
  <% end %>
</div>

<%= form_for(@food_item) do |f| %>

<fieldset>

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
	<%= f.text_field :name, :class => "form-control" %>
      </div>
  </div>


<div class="form-group">
  <label class="col-sm-2 control-label">calories</label> 
  <div class="col-sm-10"><%= f.text_field :calories, :class => "form-control" %>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">protein (g)</label> 
  <div class="col-sm-10"><%= f.text_field :protein, :class => "form-control" %>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">carbs (g)</label> 
  <div class="col-sm-10"><%= f.text_field :carbs, :class => "form-control" %>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">fat (g)</label> 
  <div class="col-sm-10"><%= f.text_field :fat, :class => "form-control" %>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">description</label> 
  <div class="col-sm-10"><%= f.text_field :description, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.hidden_field:user_id, :value=>current_user.id %>
</div>

<div class="actions">
    <%= f.submit "Save new food item", :class => "btn btn-default" %>
</div>

</fieldset>
<% end %>
