<div class="page-header">
     <h2><%= @food_item.name %></h2>
     <h4>Food Item</h4>
</div>

<div>
  <table class="table table-striped table-bordered">
    <thead style="font-weight:bold">
    <tr>
      <td>calories</td>
      <td>protein (g)</td>
      <td>carbs (g)</td>
      <td>fat (g)</td>
      <td>description</td>
      <td>User</td>
      <td>edit</td>
      <td>destroy</td>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= @food_item.calories %></td>
      <td><%= @food_item.protein %></td>
      <td><%= @food_item.carbs %></td>
      <td><%= @food_item.fat %></td>
      <td><%= @food_item.description %></td>
      <td><%= link_to @food_item.user.name, user_path(@food_item.user.id) %></td>
      <td><%= link_to "edit", edit_food_item_path(@food_item.id) %></td>
      <td><%= link_to "destroy", @food_item, confirm: "you sure you want to delete this food item?", method: :delete %></td>
    </tr>
    </tbody>

  </table>

  <h4>Some healther food options</h4>
  <table class="table table-striped table-bordered">
    <thead style="font-weight:bold">
    <tr>
      <td>name</td> 
      <td>calories</td>
      <td>protein (g)</td>
      <td>carbs (g)</td>
      <td>fat (g)</td>
      <td>description</td>
      <td>User</td>
    </tr>
    </thead>

    <tbody>
    <% @healthier_food_items.each do |food_item| %>
    <tr>
      <td><%= link_to "#{food_item.name}", food_item_path(food_item.id) %></td>
      <td><%= food_item.calories %></td>
      <td><%= food_item.protein %></td>
      <td><%= food_item.carbs %></td>
      <td><%= food_item.fat %></td>
      <td><%= food_item.description %></td>
      <td><%= link_to food_item.user.name, user_path(food_item.user.id) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
